body,
button,
input,
select,
textarea{color:#404040;font-family:'Roboto', sans-serif;font-size:15px;line-height:1.5;}
h1,
h2,
h3,
h4,
h5,
h6{clear:both;}
p{margin-bottom:1.5em;line-height:24px;}
dfn,
cite,
em,
i{font-style:italic;}
blockquote{margin:0 1.5em;}
address{margin:0 0 1.5em;}
pre{background:#eee;font-family:"Courier 10 Pitch", Courier, monospace;font-size:15px;font-size:0.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em;}
code,
kbd,
tt,
var{font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;font-size:15px;font-size:0.9375rem;}
abbr,
acronym{border-bottom:1px dotted #666;cursor:help;}
mark,
ins{background:#fff9c0;text-decoration:none;font-weight:800 !important;}
big{font-size:125%;}
body.admin-bar .fixed-on-top.fix-menu{top:32px !important;}
html{box-sizing:border-box;}
*,
*:before,
*:after{box-sizing:inherit;}
body{background:#fff;}
blockquote,
q{quotes:"" "";}
blockquote:before,
blockquote:after,
q:before,
q:after{content:"";}
hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em;}
ul,
ol{margin:0;}
ul{list-style:disc;}
ol{list-style:decimal;}
li > ul,
li > ol{margin-bottom:0;margin-left:1.5em;}
dt{font-weight:bold;}
dd{margin:0 1.5em 1.5em;}
img{height:auto;max-width:100%;}
table{margin:0 0 1.5em;width:100%;}
.pad0{padding-left:0px;padding-right:0px;}
.pad5{padding-left:5px;padding-right:5px;}
.tagcloud a{font-size:14px !important;border:1px solid #ccc;border-radius:5px;}
#peace-layout{overflow:hidden;}
.peace-box-layout{max-width:1170px;margin:auto;overflow:hidden;box-shadow:0 0 20px rgba(17, 17, 17, 0.11);}
.peace-box-layout #top-section #peace-menu{max-width:1170px;margin:auto;}
.peace-box-layout #top-section .social-search #site-search .fa-close{right:60px;}
button,
input[type="button"],
input[type="reset"]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0, 0, 0, 0.8);font-size:12px;font-size:0.75rem;line-height:1;padding:0.6em 1em 0.4em;text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover{border-color:#ccc #bbb #aaa;}
button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus{border-color:#aaa #bbb #bbb;outline:none !important;box-shadow:inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea{color:#666;border:1px solid #ccc;border-radius:3px;}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus{color:#111;}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"]{padding:3px;}
textarea{padding-left:3px;width:100%;}
input[type="password"]{padding:3px;display:block;}
input[type=submit]{-webkit-appearance:button;cursor:pointer;border:1px solid #ccc;padding:3px 10px;border-radius:4px;}
.table-hover>tbody>tr:hover,.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>thead>tr>td.active,.table>thead>tr>th.active{background-color: #e4faff;}
#festival a:visited{color:#3e0008;}
#festival a:hover{color:#793914;}
a{color:#333;}
a:hover,
a:focus,
a:active{color:#3E3E3E;}
a:focus{outline:thin dotted;}
a:hover,
a:active{outline:0;}
.main-navigation{clear:both;display:block;float:left;width:100%;}
.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0;}
.main-navigation ul ul{box-shadow:0 3px 3px rgba(0, 0, 0, 0.2);float:left;position:absolute;top:1.5em;left:-999em;z-index:99999;}
.main-navigation ul ul ul{left:-999em;top:0;}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul{left:100%;}
.main-navigation ul ul a{width:200px;}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul{left:auto;}
.main-navigation li{float:left;position:relative;}
.main-navigation a{display:block;text-decoration:none;}
ul.dropdown-menu{background-color:#fff;border-radius:0;color:#686664;}
#top-section #peace-menu .nav > li > ul.dropdown-menu{border-top:4px solid #F1C152;}
#top-section #peace-menu .nav > li > ul.dropdown-menu{padding:0px;background:#FFFFFF;}
#top-section #peace-menu .nav > li > ul.dropdown-menu:after{content:'';position:absolute;border-style:solid;border-width:0 10px 10px;border-color:#F1C152 transparent;display:block;width:0;z-index:1;top:-10px;left:28px;}
.dropdown-menu > li{padding:0px 0px;border-bottom:1px solid #e9e5e5;}
.dropdown-menu > li:last-child{border-bottom:none;}
.dropdown-menu li a{color:#fff;}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{color:#FFFFFF;text-decoration:none;background-color:#180e0e;}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover{background-color:transparent;border-color:transparent;}
.dropdown-header,
.dropdown-menu>li>a{white-space:nowrap;padding:0px 15px;line-height:1.42857143;font-size:13px;text-transform:uppercase;font-weight:600 !important;}
ul.nav li.dropdown:hover > ul.dropdown-menu{display:block;box-shadow:1px 1px 5px #848383;}
ul.nav li.dropdown:hover > ul.dropdown-menu >ul{position:absolute;right:0;}
.dropdown-menu{box-shadow:none;border-radius:0;min-width:220px;padding:0;border:none;background:orange;}
.dropdown-menu>li>a{padding:14px 20px;color:#686664;}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus{background-color:#f39c12;color:#fff !important;}
.dropdown-menu ul.dropdown-menu{left:100%;position:absolute;top:1px;visibility:hidden;margin-top:-1px;}
.dropdown-menu li:hover > ul.dropdown-menu{visibility:visible;}
.dropdown:hover .dropdown-menu{display:block;}
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu{margin-top:0;}
.navbar .dropdown-menu > ul.dropdown-menu:before{border-bottom:7px solid transparent;border-left:none;border-right:7px solid rgba(0, 0, 0, 0.2);border-top:7px solid transparent;left:-7px;top:10px;}
.navbar .dropdown-menu > ul.dropdown-menu:after{border-top:6px solid transparent;border-left:none;border-right:6px solid #fff;border-bottom:6px solid transparent;left:10px;top:11px;left:-6px;}
.menu-toggle,
.main-navigation.toggled ul{display:block;}
@media screen and (min-width:37.5em){.menu-toggle{display:none;}
.main-navigation ul{display:block;}
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden;}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous{float:left;width:50%;}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next{float:right;text-align:right;width:50%;}
.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;height:1px;width:1px;overflow:hidden;}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);clip:auto !important;color:#21759b;display:block;font-size:14px;font-size:0.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}
.alignleft{display:inline;float:left;margin-right:1.5em;}
.alignright{display:inline;float:right;margin-left:1.5em;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after{content:"";display:table;}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after{clear:both;}
.page-template-causes-page .read-more{display:table;margin-bottom:50px;margin-top:30px;}
.page-template-event-page .events-date{position:absolute;top:100px;}
.page-template-event-page .all-event .event-period{margin-bottom:30px;}
.page-template-event-page .all-event .event-period .comments-share{position:relative;top:1px;}
.widget{margin:0;}
.widget select{max-width:100%;padding:5px;}
.widget_search .search-submit{display:none;}
.widget_calendar td a,
.widget_calendar td a:after{-webkit-transition:all .20s ease;-moz-transition:all .20s ease;-ms-transition:all .20s ease;-o-transition:all .20s ease;transition:all .20s ease;}
.widget_calendar table{width:100%;text-align:center;}
.widget_calendar caption{color:#262626;text-align:center;font-weight:bold;line-height:20px;font-size:1.25em;height:40px;border:1px solid #f0f1f2;border-bottom:none;}
.widget_calendar tbody{border:1px solid #f0f1f2;border-top:none;}
.widget_calendar th{color:#ffffff;height:40px;text-align:center;line-height:38px;border:1px solid #F39C12;background-color:#F39C12;}
.widget_calendar td{height:40px;text-align:center;line-height:38px;border:1px solid #f0f1f2;}
.widget_calendar td a{font-weight:700;display:inline-block;width:100%;height:100%;position:relative;z-index:0;}
.widget_calendar td a:after{content:"";position:absolute;top:8px;left:8px;bottom:8px;right:8px;background-color:transparent;z-index:-1;}
.widget_calendar td a:hover{color:#ffffff;}
.widget_calendar td a:hover:after{top:-1px;left:-1px;bottom:-1px;right:-1px;background-color:#F39C12;}
.blog-sidebar .widget_rss li:last-child,
.blog-sidebar .widget_pages li:last-child,
.blog-sidebar .widget_categories li:last-child,
.blog-sidebar .widget_nav_menu li:last-child,
.blog-sidebar .widget_archive li:last-child,
.blog-sidebar .widget_meta li:last-child,
.blog-sidebar .widget_recent_entries li:last-child,
.blog-sidebar .widget_recent_comments li:last-child{border-bottom:none;}
.footer-widget .popular-post a{color:#b2aaaa;}
.footer-widget .popular-post i,
.footer-widget .popular-post .post-meta-element{color:#656565;font-weight:500;}
.blog-content{margin-right:20px;}
.sticky{display:block;background-color:#fff;padding:20px;}
.tag-template{margin-bottom:20px;display:table;width:100%;}
.byline,
.updated:not(.published){display:none;}
.single .byline,
.group-blog .byline{display:inline;}
.page-content,
.entry-content,
.entry-summary{margin-bottom:1.5em;margin-top:1.5em;color:#686664;}
.page-links{clear:both;margin:0 0 1.5em;}
span.tags-links{color:#c8c2bd;}
span.tags-links a{color:#a3a19d;}
.tags-links .fa.fa-tags{color:#c8c2bd;margin-right:6px;}
.edit-link{display:block;margin-top:10px;}
span.catgry{margin-right:10px;margin-left:10px;color:#a3a19d;}
.author-bio img{border-radius:100%;}
.bio-social i{margin-right:10px;font-size:20px;}
.share-button{text-align:right;}
.share-button i{margin-right:5px;margin-left:5px;}
.fa-facebook:hover{color:#4A66A0;}
.fa-amazon:hover{color:#00973c;}
.fa-twitter:hover{color:#55ACEE;}
.fa-youtube:hover{color:#DC0F0F;}
.fa-instagram:hover{color:#0177B5;}
.fa-pinterest:hover,
.fa-pinterest-p:hover{color:#DC0F0F;}
.go-back{display:table;margin:auto;}
.blog .format-aside .entry-title,
.archive .format-aside .entry-title{display:none;}
.comment-content a{word-wrap:break-word;}
.bypostauthor{display:block;}
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer{display:none;}
.infinity-end.neverending .site-footer{display:block;}
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0;}
embed,
iframe,
object{max-width:100%;}
.wp-caption{margin-bottom:1.5em;max-width:100%;}
.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto;}
.wp-caption .wp-caption-text{margin:0.8075em 0;}
.wp-caption-text{text-align:center;}
.gallery{margin-bottom:1.5em;}
.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%;}
.gallery-columns-2 .gallery-item{max-width:50%;}
.gallery-columns-3 .gallery-item{max-width:33.33%;}
.gallery-columns-4 .gallery-item{max-width:25%;}
.gallery-columns-5 .gallery-item{max-width:20%;}
.gallery-columns-6 .gallery-item{max-width:16.66%;}
.gallery-columns-7 .gallery-item{max-width:14.28%;}
.gallery-columns-8 .gallery-item{max-width:12.5%;}
.gallery-columns-9 .gallery-item{max-width:11.11%;}
.gallery-caption{display:block;}
#peace-testimonial{max-width:730px;margin:auto;display:table;position:relative;padding-bottom:35px;}
#peace-testimonial p{color:#F1C152;font-size:20px;font-style:italic;}
#peace-testimonial img{width:100px;border-radius:100%;}
ol.testimonial-indicators.carousel-indicators{bottom:10px;}
ol.testimonial-indicators li{border:2px solid #F1C152;background-color:#F1C152;}
.wpcf7-form{background-color:#F7F7F7;display:table;width:100%;}
.wpcf7-form .form-group{padding-right:10px;display:table;}
.wpcf7-form .form-control{height:52px;border-radius:30px;padding-left:15px;}
.wpcf7-form .input-md{height:150px;border-radius:5px;}
.wpcf7-form .form-control:focus{border-color:#f1c152;}
.wpcf7-form .custom-btn{border-radius:30px;margin-bottom:0;padding:15px 20px;display:table;width:100%;margin-top:0;}
span.wpcf7-form-control-wrap{position:relative;margin-bottom:10px;display:table;width:100%;}
.wpcf7-form .custom-btn:hover{background:#111;color:#fff;}
.wpcf7-form .event-btn-container{padding:0 10px;}
#menu-item-slider{background-color:#fff;padding:20px;}
.fs-lightbox-open{opacity:1;z-index:9999;}
.fs-lightbox-content img{max-width:inherit;max-height:inherit;}
#top-cart{margin-right:0;}
#top-cart{position:relative;}
#top-cart{float:right;position:relative;right:-6px;}
#top-cart > a > span{position:absolute;top:-5px;right:-4px;background-color:#2d2d2d;border-radius:50%;color:#ffffff;font-size:10px;line-height:16px;text-align:center;display:block;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);width:16px;height:16px;}
#top-cart .top-cart-content{overflow:hidden;height:0;width:0;-webkit-transition:opacity .5s ease, top .4s ease;-o-transition:opacity .5s ease, top .4s ease;transition:opacity .5s ease, top .4s ease;}
#top-cart:hover .top-cart-content{position:absolute;top:26px;right:-68px;left:auto;height:auto;width:280px;background-color:#ffffff;box-shadow:0px 2px 2px 2px rgba(0, 0, 0, 0.07);border-top:5px solid #F1C152;margin:0;-webkit-transition:opacity .5s ease, top .4s ease;-o-transition:opacity .5s ease, top .4s ease;transition:opacity .5s ease, top .4s ease;z-index:999999;}
#top-cart:hover .top-cart-content{overflow:visible;}
#top-cart:hover .top-cart-content:before{content:"";position:absolute;top:-58px;left:0;right:0;height:58px;background:transparent;}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count{margin:0;}
.fix-menu #top-cart:hover .top-cart-content:before{top:-30px;height:30px;}
#top-cart.top-cart-open .top-cart-content{opacity:1;z-index:11;margin-top:0;}
.top-cart-title{padding:12px 15px;border-bottom:1px solid #eeeeee;}
.top-cart-title h4{margin-bottom:0;font-size:15px;font-weight:bold;text-transform:uppercase;letter-spacing:1px;}
.top-cart-items{padding:15px;}
.top-cart-item{padding-top:15px;margin-top:15px;border-top:1px solid #F5F5F5;}
.top-cart-item:first-child{padding-top:0;margin-top:0;border-top:0;}
.top-cart-item-image{float:left;margin-right:15px;width:48px !important;height:48px !important;border:2px solid #eeeeee;-webkit-transition:border-color .2s linear;-moz-transition:border-color .2s linear;-ms-transition:border-color .2s linear;-o-transition:border-color .2s linear;transition:border-color .2s linear;}
.top-cart-item-image a,
.top-cart-item-image img{display:block;width:44px !important;height:44px !important;}
.top-cart-item-image:hover{border-color:#00a1cb;}
.top-cart-item-desc{position:relative;overflow:hidden;width:185px;}
.top-cart-item-desc a{text-align:left !important;font-size:13px !important;width:auto !important;height:auto !important;font-weight:600;}
.top-cart-item-desc a:hover{color:#00a1cb !important;}
.top-cart-item-desc span.top-cart-item-price{display:block;color:#999999;font-size:12px !important;line-height:20px;}
.top-cart-item-desc span.top-cart-item-quantity{position:absolute;color:#444444;display:block;font-size:12px !important;right:30px;top:2px;}
.top-cart-action{padding:15px;border-top:1px solid #eeeeee;}
.top-cart-item-title{width:120px;}
a.icon-remove{position:absolute;right:0;top:-3px;}
.top-cart-action span.top-checkout-price{color:#00a1cb;}
body.top-search-open #top-search a i.fa-search,
#top-search a i.fa-close{opacity:0;}
body.top-search-open #top-search a i.fa-close{opacity:1;z-index:11;}
#top-cart a.hd-icons{display:block;position:absolute;border:2px solid #dcd6d2;width:32px;height:32px;font-size:14px;right:-68px;top:-2px;line-height:27px;text-align:center;border-radius:50%;color:#F1C152;-webkit-transition:color .3s ease-in-out;-o-transition:color .3s ease-in-out;transition:color .3s ease-in-out;}
.product-action a.loading{opacity:0.5;filter:alpha(opacity=@opacity * 100);}
.product-action a.added,
.product-action a.loading{opacity:1;text-align:center;color:#fff;background:#F1C152;}
.product-action a.added .fa-shopping-cart,
.product-action a.loading .fa-shopping-cart{display:none;}
.product-action a.added:before{content:"\f00c";font-weight:400;font-family:FontAwesome;color:#fff;opacity:0.5;font-size:12px;}
.product-action a.loading:before{display:inline-block;content:"\f021";font-family:'FontAwesome';-webkit-animation-name:spin-360;-webkit-animation-duration:1s;-webkit-animation-iteration-count:infinite;}
a.btn.sm-btn.has-badge{border:1px solid #F1C152;border-radius:0;float:right;}
@-webkit-keyframes spin-360{from{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);zoom:1;}
50%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);zoom:1;}
to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);zoom:1;}
}
@-moz-keyframes spin-360{from{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);zoom:1;}
50%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);zoom:1;}
to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);zoom:1;}
}
@-o-keyframes spin-360{from{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);zoom:1;}
50%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);zoom:1;}
to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);zoom:1;}
}
@keyframes spin-360{from{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);zoom:1;}
50%{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);zoom:1;}
to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);zoom:1;}
}
.added_to_cart{display:none !important;}
.blog-sidebar ul{padding:0;}
.shop-page{padding-top:15px;padding-bottom:19px;}
h2.page-title{font-family:yellowtail;font-size:2em;font-weight:600;}
#shop{background:#f7f7f7;padding-top:90px;}
.breadcrumb{background:none;}
.woocommerce .woocommerce-breadcrumb{margin:25px 0 1em;padding:0;font-size:.92em;color:#777;}
.breadcrumb li,
.woocommerce-breadcrumb li{display:inline-block;}
.woocommerce div.product .product_title{text-transform:uppercase;font-size:1.4em;}
.woocommerce .quantity .qty{padding:3px;height:35px;}
.product-title{font-size:1em;}
.menu-product-slider{padding:20px;background-color:#fff;margin-bottom:20px;overflow:hidden;box-shadow:0 0 4px #ccc;border-radius:4px;}
.carousel-inner .product-description{background:#f7f7f7;}
.menu-product-slider .product-title{text-align:left;}
.menu-product-slider .product-carousel-indicators{bottom:10px;}
.menu-product-slider .product-item{box-shadow:none;margin-bottom:0;}
.product-slide .star-rating{margin:auto;margin-bottom:30px;}
.product-slide.product-description{position:relative;text-align:center !important;}
.product-item{margin-bottom:0px;position:relative;background-color:#fff;padding-bottom:20px;border-radius:4px;box-shadow:0px 1px 3px #ccc;}
.owl-wrapper .product-item{margin:0 15px;}
.sale-badge{width:105px;height:105px;background-color:#00a1cb;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:absolute;top:-50px;right:-50px;z-index:3;}
.sale-badge span{position:absolute;bottom:5px;left:38px;right:auto;font-size:16px;font-family:'Oswald', sans-serif;color:#FFF;}
.product-item .product-image{position:relative;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
.product-item .product-image:before{content:"";width:100%;height:100%;position:absolute;z-index:5;pointer-events:none;}
.product-item .product-image .quick-view{display:block;position:absolute;width:100%;height:100%;border:1px solid transparent;top:-100%;background-color:rgba(0, 0, 0, 0.60);}
.product-item .product-image:hover .quick-view{top:0px;}
.product-image .quick-view span{display:none;}
.product-image .quick-view:before{content:"\f00e";font-family:FontAwesome;font-size:50px;position:absolute;top:50%;left:50%;margin-top:-35px;margin-left:-22px;color:#FFF;}
.product-image .quick-view:hover:before{top:50%;left:50%;}
.product-item .product-image .thumb img{width:100%;}
.owl-item .product-title{width:180px;}
span.price.product-price{width:120px;}
.product-item .product-title{font-size:18px;text-align:center;margin-top:8px;font-size:16px;text-transform:uppercase;}
.product-item .product-rating{color:#00a1cb;font-size:12px;}
.product-item .product-price{font-size:18px;font-weight:800;margin:auto;right:0px;width:100%;text-align:center;top:0px;}
.product-action a{display:inline-block;border:1px solid #dedede;width:40px;border-radius:0px;position:relative;color:#606060;font-size:14px;margin:2px;}
.product-action a:hover{color:#00a1cb;}
.product-action a.add-to-cart{width:auto;border-color:#C5C5C5;color:#3E3E3E;font-size:13px;border-radius:3px;text-transform:uppercase;font-weight:bold;}
.product-action a.add-to-cart:hover{color:#FFF;background:#F1C152;border-color:#CCA242;}
.product-action a:before{font-family:FontAwesome;}
.product-action a{position:relative;;}
.product-action a span{position:absolute;top:0px;left:-21px;line-height:10px;width:80px;text-align:center;opacity:0;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;}
.product-action a:hover span{top:-30px;opacity:1;}
.product-action a span i{border:1px solid #dedede;padding:5px 10px;background:white;border-radius:4px;}
.product-action a span:after{content:"";position:absolute;top:18px;left:34px;height:12px;width:12px;border-style:solid;border-width:6px 6px 6px 6px;border-color:white transparent transparent transparent;}
.product-action a span:before{content:"";position:absolute;top:19px;left:34px;height:12px;width:12px;border-style:solid;border-width:6px 6px 6px 6px;border-color:#dedede transparent transparent transparent;}
.product-category-group .product-category{border:1px solid #dedede;border-radius:0px;border-bottom:1px solid #dedede;margin-bottom:10px;-webkit-box-shadow:none;box-shadow:none;}
.product-category-group .product-category .parent-cat-name{color:#606060;font-size:13px;font-weight:700;line-height:25px;position:relative;display:inline-block;width:100%;padding:0px 15px;line-height:40px;}
.product-category-group .product-category .parent-cat-name:after{content:"\f0d8";font-family:FontAwesome;position:absolute;right:0px;width:40px;text-align:center;border-left:1px solid #DEDEDE;}
.product-category-group .product-category .parent-cat-name.collapsed:after{content:"\f0d7";}
.product-category-group .product-category .product-category-content{border-top:1px solid #dedede;}
.product-category-group .product-category .sub-cat-items{padding:20px;}
.product-category-group .product-category .sub-cat-items li{list-style:none;}
.product-category-group .product-category .sub-cat-items li a{display:inline-block;font-size:13px;color:#606060;font-weight:700;}
.product-category-group .product-category .sub-cat-items li a:hover{color:#00a1cb;}
.product-category-group .product-category .sub-cat-items li a:before{content:"";width:9px;height:9px;display:inline-block;border:1px solid #00a1cb;margin-right:10px;}
.product-category-group .product-category .sub-cat-items li a:hover:before{border:1px solid #00a1cb;background-color:#00a1cb;}
.product-carousel{position:relative;}
.product-carousel .item-caption h2,
.product-carousel .item-caption p{margin:0px;padding:0px;}
.product-carousel .item-caption a{color:#FFF;}
.product-carousel .item-caption{background-color:#1c1c1c;padding:10px;text-align:center;color:#FFF;}
.product-carousel .item-caption p{font-size:14px;font-weight:300;font-family:'Oswald', sans-serif;color:#FFF;text-transform:uppercase;}
.product-carousel-indicators{bottom:70px;}
.product-carousel-indicators li{display:inline-block;background-color:#bbbbbb;border-radius:0px;}
.product-carousel-indicators li,
.product-carousel-indicators li.active{border:1px solid #FFF;width:12px;height:12px;margin:0px;padding:0;border-radius:100%;}
.product-carousel-indicators li.active{background-color:#00a1cb;}
.rating-wrap .rating-before,
ul.products li.product-category .rating-wrap .rating-before{display:table-cell;width:50%;height:1px;vertical-align:middle;}
ul.products li.product .rating-wrap .rating-before .rating-line,
ul.products li.product-category .rating-wrap .rating-before .rating-line{background-image:- webkit-linear-gradient(right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);background-image:linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 40%, transparent);}
.product-description .star-rating{cursor:pointer;float:none;position:relative;font-size:0.8em;height:1em;line-height:1em;overflow:hidden;position:relative;width:5.7em;letter-spacing:0.1em;text-align:left;}
ul.products li.product .rating-wrap .star-rating:before,
ul.products li.product-category .rating-wrap .star-rating:before,
ul.products li.product .rating-wrap .star-rating span:before,
ul.products li.product-category .rating-wrap .star-rating span:before{left:0.6em;}
.star-rating span:before{color:#ffc600;content:"\f1fe" "\f1fe" "\f1fe" "\f1fe" "\f1fe";left:0;position:absolute;top:0;}
.star-rating:before{color:#ddd;color:rgba(0, 0, 0, 0.13);content:"\f1fe" "\f1fe" "\f1fe" "\f1fe" "\f1fe";float:left;left:0;position:absolute;top:0;}
.woocommerce .products .star-rating{margin:auto;float:none;margin-bottom:5px;}
.woocommerce .product-head{position:relative;}
div.product p.price del,
.woocommerce div.product span.price del{opacity:.5;float:left;margin-right:9px;font-size:0.7em;position:absolute;left:50%;transform:translateX(-50%);top:67px;}
.woocommerce div.product p.price,
.woocommerce div.product span.price{color:#F1C152;font-size:1.15em;text-align:center;display:table;margin:auto;font-family:arial;margin-bottom:15px;}
.product-description{text-align:left;padding:16px;}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span{padding:8px 10px;}
label.screen-reader-text{display:none;}
input.search-field{padding:8px;border:1px solid #ccc;float:left;}
.woocommerce input[type=button],
.woocommerce input[type=reset],
.woocommerce input[type=submit]{-webkit-appearance:button;cursor:pointer;padding:7px;background-color:transparent;border:1px solid #ccc;border-radius:0;}
#shop .product_list_widget li{list-style:none;margin-bottom:10px;border-bottom:1px solid #EAEAEA;padding-bottom:15px;}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{color:#555;cursor:default;background-color:#fff;border:0;border-top:2px solid #F5B958;border-bottom-color:transparent;}
.woocommerce #reviews #comments ol.commentlist li .comment-text{margin:0 0px 0 0px;border:1px solid #e4e1e3;border-radius:4px;padding:1em 3em 0;text-align:left;}
.woocommerce #reviews #comments h2{clear:none;font-size:1.6em;}
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select{border-radius:0;}
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select{}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea{padding:5px;border-radius:0;}
.select2-container .select2-choice{border-radius:0px;}
.woocommerce .woocommerce-info-login,
.woocommerce .woocommerce-info-coupon{padding-left:1em !important;background:#e9e9e9;border:medium none !important;}
.form-flat-radio i,
.form-flat-checkbox i{background:none repeat scroll 0 0 #fff;border-style:solid;border-width:2px;display:block;height:17px;left:0;outline:medium none;position:absolute;top:5px;border-color:#262626;width:17px;top:50%;margin-top:-8.5px;color:#262626;}
.woocommerce .checkout .checkout-customer-details h3#ship-to-different-address label{display:inline-block;vertical-align:middle;padding-left:0;font-weight:500;margin:0;position:relative;padding-left:25px;cursor:pointer;min-height:auto;line-height:1.7;}
.form-flat-radio input:checked+i:after,
.form-flat-checkbox input:checked+i:after{opacity:1;filter:alpha(opacity=100);}
.form-flat-checkbox i:after{font-size:12px;height:17px;left:-1px;text-align:center;position:absolute;top:-5px;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);-o-transform:translate(0, -50%);transform:translate(0, -50%);margin-top:2px;width:17px;opacity:0;filter:alpha(opacity=0);line-height:1;}
.form-flat-checkbox i:after{content:"\f00c";position:relative;display:inline-block;font-family:"FontAwesome";font-style:normal;font-weight:normal;line-height:1;text-decoration:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;speak:none;}
.woocommerce h3#ship-to-different-address label{display:inline-block;vertical-align:middle;padding-left:0;font-weight:500;margin:0;position:relative;padding-left:25px;cursor:pointer;min-height:auto;line-height:1.7;}
.form-flat-checkbox input{left:-9999px;position:absolute;}
.woocommerce-checkout #payment div.payment_box:after{top:-1px;}
#payment .payment_method_paypal img{max-height:100% !important;}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal{float:none;}
.woocommerce button.button.alt,
.woocommerce input.button.alt{color:#fff;-webkit-font-smoothing:antialiased;padding:8px 30px;background-color:#F5B958;border:1px solid #DAA144;}
.woocommerce .checkout .woocommerce-checkout-review-order{background:#e9e9e9;padding:12px;}
.woocommerce table.shop_table{border:none;}
.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions{text-align:right;background-color:#EAEAEA;}
.cart-next-step{float:right;}
.woocommerce .cart .button,
.woocommerce .cart input.button{float:none;border:1px solid #ccc;}
.woocommerce table.cart td.actions .input-text{display:block;width:100%;height:2.8428571428571425em;padding:.5714285714285714rem;font-size:14px;line-height:1.7;color:#525252;background-color:#fff;background-image:none;border:2px solid #fff;-webkit-border-radius:0;border-radius:0;outline:none;display:inline-block;width:48%;float:left;margin-right:5px;margin-left:5px;border:none;}
.woocommerce .cart .button{display:inline-block;margin-bottom:0;font-weight:300;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:.6714285714285714rem 1.2rem;font-size:14px;line-height:1.1;-webkit-transition:background-color 0.3s, border-color 0.3s, text-color 0.3s;-o-transition:background-color 0.3s, border-color 0.3s, text-color 0.3s;transition:background-color 0.3s, border-color 0.3s, text-color 0.3s;-webkit-border-radius:0;border-radius:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;outline:none;color:#fff;border-color:#262626;border-width:2px !important;text-transform:uppercase;font-weight:500;color:#262626;}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button{background-color:#F5B958;border-radius:0;}
.woocommerce table.cart thead th{border-bottom:0px;background:#F7F7F7;text-transform:uppercase;}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals{float:right;width:48%;background-color:#fff;padding:0 20px;box-shadow:0 0 2px #ccc;}
.woocommerce-cart .cart-collaterals .cart_totals table{border-collapse:separate;margin:0 0 6px;padding:0;border-left:0;width:100%;}
.cart_totals h2{text-transform:uppercase;font-size:1.3em;}
tr.cart_item{background-color:#fff;}
.woocommerce-cart table.cart img{width:auto;}
#site-page-header{margin-top:90px;}
.upsells{background:#fff;}
.upsells h3{text-transform:uppercase;font-size:1.2em;}
.tab-content h2{text-transform:uppercase;font-size:1em;margin-top:7px;}
.product-content{padding-top:20px;}
.woocommerce .product-content .star-rating.product-rating{float:left;}
.woocommerce .product-content .amount{border-bottom:1px solid #EAEAEA;display:block;margin-bottom:15px;padding-bottom:5px;}
.product-details h3{text-transform:uppercase;}
.product-details ul{padding-left:0;}
.product-detail{display:table;width:100%;clear:both;}
.product-description{display:table;width:100%;}
.hex.content-icon-hex{position:absolute;right:20px;background-color:#FFC600;padding:12px;height:55px !important;top:0 !important;}
ul.slides{padding-left:0;}
.woocommerce div.product form.cart,
.woocommerce div.product p.cart{margin-top:2em;}
.woocommerce div.product form.cart .variations select{width:296px;float:left;padding:5px 10px;}
a.reset_variations{margin-left:8px;}
.product-single{padding-top:80px;}
.product-image .content-icon-hex,
.product-image-gallery .content-icon-hex{width:50px;height:33px;margin:0;position:absolute;right:3px;top:13px;}
.product-image-gallery .content-icon-hex{right:18px;top:14px;}
.product-image .content-icon,
.product-image-gallery .content-icon{font-size:20px;line-height:34px;}
.woocommerce a.added_to_cart{padding-top:0.5em;white-space:nowrap;display:inline-block;border:none;}
.woocommerce div.product div.images,
.woocommerce div.product div.summary{margin-bottom:2em;width:100%;}
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button{float:right;background-color:#F39C12;color:#fff;border-radius:0;}
.page-template-full-page-without-title .navbar-fixed-top{background:#F39C12;}
.return-to-shop a.button.wc-backward{background-color:#F1C152;color:#fff;border:1px solid #CA9E38;border-radius:0;}
.woocommerce .woocommerce-ordering select{vertical-align:top;padding:5px;border:1px solid #F7F7F7;background-color:#F7F7F7;margin-right:-15px;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{background-color:#f1c152;border-radius:3px;}
.woocommerce .widget_price_filter .price_slider_amount .button{font-size:15px;float:left;background-color:#f1c152;color:#fff;}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{border-radius:3px;background-color:#FFFFFF;border:0;border:1px solid #ccc;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{background-color:#ECECEC;}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img{float:left;margin-right:15px;width:80px;height:auto;box-shadow:none;}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current{background:#F7C721;color:#fff;}
.price_label{background-color:#F1C152;float:right;padding:1px 10px;color:#fff;border-radius:4px;}
.woocommerce-result-count{background-color:#fff;text-transform:uppercase;font-size:15px;margin:0 !important;line-height:32px;}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover{background-color:#F7F7F7;color:#111;}
.woocommerce form#commentform{margin-left:0;}
.woocommerce .panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;box-shadow:0 1px 1px rgba(0, 0, 0, .05);padding:5px 5px 0 10px;}
.woocommerce #reviews h3{margin-bottom:30px;}
.woocommerce #review_form #respond .form-submit input{left:auto;background-color:#F5B958;color:#fff;}
.product-action{text-align:center;margin-top:20px;}
.woocommerce .woocommerce-product-rating .star-rating{margin:auto;float:none;}
.woocommerce div.product .woocommerce-product-rating{margin-bottom:5px;}
.shop-short{background-color:#fff;margin-bottom:20px;padding:10px;border:1px solid #E0E0E0;}
.flip-clock-wrapper *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;}
.flip-clock-wrapper a{cursor:pointer;text-decoration:none;color:#ccc;}
.flip-clock-wrapper a:hover{color:#fff;}
.flip-clock-wrapper ul{list-style:none;}
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after{content:" ";display:table;}
.flip-clock-wrapper.clearfix:after{clear:both;}
.flip-clock-wrapper.clearfix{*zoom:1;}
.flip-clock-wrapper{font:normal 11px "Helvetica Neue", Helvetica, sans-serif;-webkit-user-select:none;}
.flip-clock-meridium{background:none !important;box-shadow:0 0 0 !important;font-size:36px !important;}
.flip-clock-meridium a{color:#313333;}
.flip-clock-wrapper{text-align:center;position:relative;width:100%;margin:1em;}
.flip-clock-wrapper:before,
.flip-clock-wrapper:after{content:" ";display:table;}
.flip-clock-wrapper:after{clear:both;}
.flip-clock-wrapper ul{position:relative;float:left;margin:5px;width:60px;height:90px;font-size:80px;font-weight:bold;line-height:87px;border-radius:6px;background:#000;}
.flip-clock-wrapper ul li{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;line-height:87px;text-decoration:none !important;}
.flip-clock-wrapper ul li:first-child{z-index:2;}
.flip-clock-wrapper ul li a{display:block;height:100%;-webkit-perspective:200px;-moz-perspective:200px;perspective:200px;margin:0 !important;overflow:visible !important;cursor:default !important;}
.flip-clock-wrapper ul li a div{z-index:1;position:absolute;left:0;width:100%;height:50%;font-size:80px;overflow:hidden;outline:1px solid transparent;}
.flip-clock-wrapper ul li a div .shadow{position:absolute;width:100%;height:100%;z-index:2;}
.flip-clock-wrapper ul li a div.up{-webkit-transform-origin:50% 100%;-moz-transform-origin:50% 100%;-ms-transform-origin:50% 100%;-o-transform-origin:50% 100%;transform-origin:50% 100%;top:0;}
.flip-clock-wrapper ul li a div.up:after{content:"";position:absolute;top:44px;left:0;z-index:5;width:100%;height:3px;background-color:#000;background-color:rgba(0, 0, 0, 0.4);}
.flip-clock-wrapper ul li a div.down{-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;-ms-transform-origin:50% 0;-o-transform-origin:50% 0;transform-origin:50% 0;bottom:0;border-bottom-left-radius:6px;border-bottom-right-radius:6px;}
.flip-clock-wrapper ul li a div div.inn{position:absolute;left:0;z-index:1;width:100%;height:200%;color:#ccc;text-shadow:0 1px 2px #000;text-align:center;background-color:#333;border-radius:6px;font-size:70px;}
.flip-clock-wrapper ul li a div.up div.inn{top:0;}
.flip-clock-wrapper ul li a div.down div.inn{bottom:0;}
.flip-clock-wrapper ul.play li.flip-clock-before{z-index:3;}
.flip-clock-wrapper .flip{box-shadow:0 2px 5px rgba(0, 0, 0, 0.7);}
.flip-clock-wrapper ul.play li.flip-clock-active{-webkit-animation:asd 0.5s 0.5s linear both;-moz-animation:asd 0.5s 0.5s linear both;animation:asd 0.5s 0.5s linear both;z-index:5;}
.flip-clock-divider{float:left;display:inline-block;position:relative;width:20px;height:100px;}
.flip-clock-divider:first-child{width:0;}
.flip-clock-dot{display:block;background:#323434;width:10px;height:10px;position:absolute;border-radius:50%;box-shadow:0 0 5px rgba(0, 0, 0, 0.5);left:5px;}
.flip-clock-divider .flip-clock-label{position:absolute;top:-1.5em;right:-86px;color:black;text-shadow:none;}
.flip-clock-divider.minutes .flip-clock-label{right:-88px;}
.flip-clock-divider.seconds .flip-clock-label{right:-91px;}
.flip-clock-dot.top{top:30px;}
.flip-clock-dot.bottom{bottom:30px;}
@-webkit-keyframes asd{0%{z-index:2;}
20%{z-index:4;}
100%{z-index:4;}
}
@-moz-keyframes asd{0%{z-index:2;}
20%{z-index:4;}
100%{z-index:4;}
}
@-o-keyframes asd{0%{z-index:2;}
20%{z-index:4;}
100%{z-index:4;}
}
@keyframes asd{0%{z-index:2;}
20%{z-index:4;}
100%{z-index:4;}
}
.flip-clock-wrapper ul.play li.flip-clock-active .down{z-index:2;-webkit-animation:turn 0.5s 0.5s linear both;-moz-animation:turn 0.5s 0.5s linear both;animation:turn 0.5s 0.5s linear both;}
@-webkit-keyframes turn{0%{-webkit-transform:rotateX(90deg);}
100%{-webkit-transform:rotateX(0deg);}
}
@-moz-keyframes turn{0%{-moz-transform:rotateX(90deg);}
100%{-moz-transform:rotateX(0deg);}
}
@-o-keyframes turn{0%{-o-transform:rotateX(90deg);}
100%{-o-transform:rotateX(0deg);}
}
@keyframes turn{0%{transform:rotateX(90deg);}
100%{transform:rotateX(0deg);}
}
.flip-clock-wrapper ul.play li.flip-clock-before .up{z-index:2;-webkit-animation:turn2 0.5s linear both;-moz-animation:turn2 0.5s linear both;animation:turn2 0.5s linear both;}
@-webkit-keyframes turn2{0%{-webkit-transform:rotateX(0deg);}
100%{-webkit-transform:rotateX(-90deg);}
}
@-moz-keyframes turn2{0%{-moz-transform:rotateX(0deg);}
100%{-moz-transform:rotateX(-90deg);}
}
@-o-keyframes turn2{0%{-o-transform:rotateX(0deg);}
100%{-o-transform:rotateX(-90deg);}
}
@keyframes turn2{0%{transform:rotateX(0deg);}
100%{transform:rotateX(-90deg);}
}
.flip-clock-wrapper ul li.flip-clock-active{z-index:3;}
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow{background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));background:linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;background:-o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);background:-ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);background:linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;-webkit-animation:show 0.5s linear both;-moz-animation:show 0.5s linear both;animation:show 0.5s linear both;}
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow{background:-moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));background:linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;background:-o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);background:-ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);background:linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;-webkit-animation:hide 0.5s 0.3s linear both;-moz-animation:hide 0.5s 0.3s linear both;animation:hide 0.5s 0.3s linear both;}
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow{background:-moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));background:linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;background:-o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);background:-ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);background:linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;-webkit-animation:show 0.5s linear both;-moz-animation:show 0.5s linear both;animation:show 0.5s linear both;}
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow{background:-moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));background:linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;background:-o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);background:-ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);background:linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;-webkit-animation:hide 0.5s 0.3s linear both;-moz-animation:hide 0.5s 0.3s linear both;animation:hide 0.5s 0.2s linear both;}
@-webkit-keyframes show{0%{opacity:0;}
100%{opacity:1;}
}
@-moz-keyframes show{0%{opacity:0;}
100%{opacity:1;}
}
@-o-keyframes show{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes show{0%{opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes hide{0%{opacity:1;}
100%{opacity:0;}
}
@-moz-keyframes hide{0%{opacity:1;}
100%{opacity:0;}
}
@-o-keyframes hide{0%{opacity:1;}
100%{opacity:0;}
}
@keyframes hide{0%{opacity:1;}
100%{opacity:0;}
}
