
/* 11 - Color Style Switcher 
---------------------------------------------------------------------- */

#color-style-switcher #layout {
  text-align: center;
}
#color-style-switcher #layout li{
    background-color: #eee;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
#color-style-switcher h3 {
    font-size: 19px;
    margin: 8px 3px 12px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
}
#color-style-switcher {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
    left: -215px;
    border-top: 1px solid #F9F9F9;
    position: fixed;
    color: #111;
    top: 32px;
    width: 215px;
    z-index: 99999;
}
#color-style-switcher {
    padding: 5px 10px;
}
#color-style-switcher .bottom {
    background: none repeat scroll 0 0 rgba(0,0,0,.7);
    color: #252525;
    padding: 0;
}
#color-style-switcher .bottom a.settings {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    display: block;
    height: 41px;
    position: absolute;
    border: 1px solid #F9F9F9;
    right: -40px;
    top: 105px;
    border-left: none;
    width: 40px;
    padding: 3px;
    box-shadow: 4px 2px 3px #DDDDDD;
}
#color-style-switcher .bottom a.settings i {
    margin-left: -1px;
    margin-top: 3px;
    font-size: 20px;
}
#color-style-switcher select {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #FFFFFF;
    line-height: 1;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 150px;
}
.options_box {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.sw-page{
    background:#222;
    color: #FFFFFF;
    display: block;
    margin: 5px 0;
    padding: 10px;
}
.sw-page:hover{
    background:#000000;
}
.variant{
    background:#000;
}
ul.colors {
    list-style: none outside none;
    margin: 0 0 10px;
    overflow: hidden;
    padding:0;
}
ul.colors li {
    float: left;
    margin: 2px;
}
ul.colors li a {
    cursor: pointer;
    display: block;
    height: 35px;
    width: 35px;
    border-radius:4px;
    -webkit-border-radius:4px;
}

ul.colors .color1 {
    background: none repeat scroll 0 0 #f1c152;
}
ul.colors .color2 {
    background: none repeat scroll 0 0 #e12444;
}
ul.colors .color3 {
     background: rgb(237, 150, 171);
}
ul.colors .color4 {
     background: none repeat scroll 0 0 #663399;
}
ul.colors .color5 {
     background: none repeat scroll 0 0 #3498db;
}
ul.colors .color6 {
     background: none repeat scroll 0 0 #1abc9c;
}
ul.colors .color7 {
     background: none repeat scroll 0 0 #2C3E50;
}
ul.colors .color8 {
     background: none repeat scroll 0 0 #019875;
}
ul.colors .color9 {
     background: none repeat scroll 0 0 #BE90D4;
}
ul.colors .color10 {
     background: none repeat scroll 0 0 #D2527F;
}

ul.colors li a.active {
    
    position: relative;
}
ul.colors li a.active:after {
    color: #fff;
    content:"\f00c";
    font-family: "FontAwesome";
    font-size: 10px;
    right: 12px;
    position: absolute;
    top: 9px;
}
ul.colors li a.color1.active:after {
    color:#000000;
}
.icon-2x{
    font-size:28px;
    line-height:30px;
}
@media only screen and (max-width: 500px) {
    #color-style-switcher {
        display: none;
    }
}

/* 11 - Color Style Switcher  End
---------------------------------------------------------------------- */

.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  border: 1px solid #ccc;
  height: 101px;
}
.farbtastic .wheel {
  background: url(../images/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(../images/mask.png) no-repeat;
  padding: 0!important;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(../images/marker.png) no-repeat;
}

#result {
    border: 1px solid #ccc;
    padding: 5px;
    height: 30px;
}