<div style="border-bottom: 5px;">
    <style>

        .tabs-left > .nav-tabs {
            border-bottom: 0;
        }

        .tab-content > .tab-pane,
        .pill-content > .pill-pane {
            display: none;
        }

        .tab-content > .active,
        .pill-content > .active {
            display: block;
        }

        .tabs-left > .nav-tabs > li {
            float: none;
        }

        .tabs-left > .nav-tabs > li > a {
            min-width: 74px;
            margin-right: 0;
            margin-bottom: 3px;
        }

        .tabs-left > .nav-tabs {
            float: left;
            margin-right: 19px;
            border-right: 1px solid #ddd;
        }

        .tabs-left > .nav-tabs > li > a {
            color: #f57002;
            margin-right: -1px;
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

        .tabs-left > .nav-tabs > li > a:hover,
        .tabs-left > .nav-tabs > li > a:focus {
            border-color: #eeeeee #dddddd #eeeeee #eeeeee;
        }

        .tabs-left > .nav-tabs .active > a,
        .tabs-left > .nav-tabs .active > a:hover,
        .tabs-left > .nav-tabs .active > a:focus {
            border-color: #bc5828 transparent #a2a2a2 #ddd;
            *border-right-color: #ffffff;
        }
    </style>

    <p>Click on the buttons inside the tabbed menu:</p>

    <!-- tabs left -->
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#Mangal" data-toggle="tab">Mangal Aarti</a></li>
            <li><a href="#Bhoga" data-toggle="tab">Raj Bhoga</a></li>
            <li><a href="#Flower" data-toggle="tab">Flower Garlands</a></li>
            <li><a href="#Week" data-toggle="tab">Whole Week Aarti</a></li>
            <li><a href="#Sunday" data-toggle="tab">One day Lunch</a></li>
            <li><a href="#Thursday" data-toggle="tab">One Week Lunch</a></li>
            <li><a href="#Janmasthami" data-toggle="tab">Janmasthami</a></li>
            <li><a href="#other" data-toggle="tab">All Other Donations</a></li>
        </ul>
        <div class="tab-content" style="height: 400px;">

            <div id="Mangal" class="tab-pane active">
                <div style="font-size: 25px">Mangal Aarti</div>
                <i class="fa fa-hand-o-right"></i> Offering at 5 AM
                <br/>
                <i class="fa fa-hand-o-right"></i> Brahma-muhurta prayers
                <br/>
                <i class="fa fa-hand-o-right"></i> Offering of delectable sweets and pudding made of whole milk, sugar,
                ghee, and
                exotic spices.
                <br/>
                <div style="font-size: 25px">$25</div>
            </div>

            <div id="Bhoga" class="tab-pane">
                <div style="font-size: 25px">Raj Bhoga</div>
                <i class="fa fa-hand-o-right"></i> Everyday 12:00 pm
                <br/>
                <i class="fa fa-hand-o-right"></i> Rice, vegetable preparations, whole-wheat flatbread, salad,
                vegetables,
                pakoras,
                tasty chutney, and desserts.
                <br/>
                <div style="font-size: 25px">$75</div>
            </div>

            <div id="Flower" class="tab-pane">
                <div style="font-size: 25px">Flower Garlands</div>
                <i class="fa fa-hand-o-right"></i> A single day’s fresh flower garlands
                <br/>
                <div style="font-size: 25px">$51</div>
            </div>

            <div id="Week" class="tab-pane">
                <div style="font-size: 25px">Sponsor Aarti for the whole week</div>
                <i class="fa fa-hand-o-right"></i> Sponsorship for all the five aratikas of the day
                <br/>
                <i class="fa fa-hand-o-right"></i> From Mangala-Arati to Sayana Arati before the deities take rest
                <br/>
                <div style="font-size: 25px">$251</div>
            </div>

            <div id="Sunday" class="tab-pane">
                <div style="font-size: 25px">Lunch Prasad for one day</div>
                <i class="fa fa-hand-o-right"></i> Everyday ISKCON Columbus offers free Lunch prasadam to all the
                visitors
                of the
                temple.
                <br/>
                <i class="fa fa-hand-o-right"></i> The menu includes various preparations of different cuisine.
                <br/>
                <div style="font-size: 25px">$51</div>
            </div>

            <div id="Thursday" class="tab-pane">
                <div style="font-size: 25px">Lunch Prasad for one week</div>
                <i class="fa fa-hand-o-right"></i> Everyday ISKCON Columbus offers free Lunch prasadam to all the
                visitors
                of the
                temple.
                <br/>
                <i class="fa fa-hand-o-right"></i> The menu includes various preparations of different cuisine.
                <br/>
                <div style="font-size: 25px">$251</div>
            </div>

            <div id="Janmasthami" class="tab-pane">
                <div style="font-size: 25px">Janmashtami</div>
                <i class="fa fa-hand-o-right"></i> Maha Arati – <strong>$108</strong>
                <br/>
                <i class="fa fa-hand-o-right"></i> Festival Garlands – <strong>$251</strong>
                <br/>
                <i class="fa fa-hand-o-right"></i> Maha Prasadam – <strong>$451</strong>
                <br/>
                <i class="fa fa-hand-o-right"></i> Festival Stage setup – <strong>$351</strong>
            </div>

            <div id="other" class="tab-pane">
                <div style="font-size: 25px">Other Donations</div>
                <i class="fa fa-hand-o-right"></i> Make a monthly donation to support the upkeep, maintenance, and
                services at ISKCON Columbus
                <br/>
                <div style="font-size: 25px">Any amount</div>
            </div>

        </div>
    </div>
    <!-- /tabs -->
</div>

