<div class="vc_row-fluid">
    <div class="vc_col-sm-12 wpb_column vc_column_container ">
        <div class="wpb_wrapper">
            <section class="shedule section-padding"
                     style="background: url(images/Untitled-1-1.jpg);">
                <div class="container">
                    <div class="row">
                        <h2 class="section-title text-center wow fadeInUp"
                            data-wow-delay="0.4s"><i
                                class="fa fa-bullhorn fa-2x "></i> 2020 ISKCON Ekadasi Fasting list for Columbus, Ohio, United
                            States
                        </h2>
                        <!-- /.section-title -->

                        <div class="col-md-12">
                            <div class="shedule-list col-md-12 wow fadeInUp"
                                 data-wow-delay="0.6s">

                                <table class="festivals table thead-inverse table-hover table-responsive">
                                    <thead>
                                    <tr>
                                        <th>
                                            Ekadashi
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Breaking Fast time
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            Putrada Ekadasi
                                        </td>
                                        <td>
                                            06/01/2020 Monday
                                        </td>
                                        <td>
                                            07/01/2020 07:42 AM - 11:04 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Sat-tila Ekadasi
                                        </td>
                                        <td>
                                            20/01/2020 Monday
                                        </td>
                                        <td>
                                            21/01/2020 07:40 AM - 11:07 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Bhaimi Ekadasi
                                        </td>
                                        <td>
                                            05/02/2020 Wednesday
                                        </td>
                                        <td>
                                            06/02/2020 07:30 AM - 09:55 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Vijaya Ekadasi
                                        </td>
                                        <td>
                                            18/02/2020 Tuesday
                                        </td>
                                        <td>
                                            19/02/2020 10:48 AM - 11:02 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Amalaki vrata Ekadasi
                                        </td>
                                        <td>
                                            05/03/2020 Thursday
                                        </td>
                                        <td>
                                            06/03/2020 07:00 AM - 10:54 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Papamocani Ekadasi
                                        </td>
                                        <td>
                                            19/03/2020 Thursday
                                        </td>
                                        <td>
                                            20/03/2020 07:43 AM - 11:45 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kamada Ekadasi
                                        </td>
                                        <td>
                                            04/04/2020 Saturday
                                        </td>
                                        <td>
                                            05/04/2020 07:22 AM - 09:56 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Varuthini Ekadasi
                                        </td>
                                        <td>
                                            18/04/2020 Sunday
                                        </td>
                                        <td>
                                            19/04/2020 07:05 AM - 11:27 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Mohini Ekadasi
                                        </td>
                                        <td>
                                            03/05/2020 Sunday
                                        </td>
                                        <td>
                                            04/05/2020 06:49 AM - 11:21 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Apara Ekadasi
                                        </td>
                                        <td>
                                            18/05/2020 Monday
                                        </td>
                                        <td>
                                            19/05/2020 06:38 AM - 08:03 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Papamocani Ekadasi
                                        </td>
                                        <td>
                                            19/03/2020 Thursday
                                        </td>
                                        <td>
                                            20/03/2020 07:43 AM - 11:45 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Papamocani Ekadasi
                                        </td>
                                        <td>
                                            19/03/2020 Thursday
                                        </td>
                                        <td>
                                            20/03/2020 07:43 AM - 11:45 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Papamocani Ekadasi
                                        </td>
                                        <td>
                                            19/03/2020 Thursday
                                        </td>
                                        <td>
                                            20/03/2020 07:43 AM - 11:45 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Papamocani Ekadasi
                                        </td>
                                        <td>
                                            19/03/2020 Thursday
                                        </td>
                                        <td>
                                            20/03/2020 07:43 AM - 11:45 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Papamocani Ekadasi
                                        </td>
                                        <td>
                                            19/03/2020 Thursday
                                        </td>
                                        <td>
                                            20/03/2020 07:43 AM - 11:45 AM
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Papamocani Ekadasi
                                        </td>
                                        <td>
                                            19/03/2020 Thursday
                                        </td>
                                        <td>
                                            20/03/2020 07:43 AM - 11:45 AM
                                        </td>
                                    </tr>



                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>

        </div>
    </div>
</div>
