<!-- SendinBlue Unsignup Form HTML Code --><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<div id="sib_embed_unsignup" style="padding: 10px;">
    <div class="forms-builder-wrapper" style="margin-left: auto;margin-right: auto;">
        <style>
            div#sib_embed_unsignup input[type="text"]{ border: 1px solid #CCCCCC; border-radius:4px;-moz-border-radius:4px; -webkit-border-radius:4px;}
            div#sib_embed_unsignup div.rounded2 {border-radius: 5px;}
            div#sib_embed_unsignup input.needsfilled  {border-color: #B94A48 !important; color: #B94A48 !important;}
            div#sib_embed_unsignup div.message_area {position: relative;padding: 10px 30px 10px 10px; margin: 0px 0px 10px 0px;font-size:14px; border-radius: 5px;-webkit-border-radius: 5px; -moz-border-radius: 5px;box-sizing: border-box;}
            div#sib_embed_unsignup div.message_area button.close {position: absolute;right: 8px;top: 8px;color: inherit;background: 0 0;border: 0;padding: 0px;-webkit-appearance: none;cursor: pointer;font-weight: bold;font-size: 14px;}
            div#sib_embed_unsignup .alert {position: relative; box-sizing: border-box; }
            div#sib_embed_unsignup .alert button.close {position: absolute;right: 10px;color: inherit;background: 0 0;border: 0;padding: 0px;-webkit-appearance: none;cursor: pointer;font-weight: bold;font-size: 16px;}
            div#sib_embed_unsignup .alert-success { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;background-color: #DFF0D8; border:1px solid #D6E9C6; color: #3C763D;}
            div#sib_embed_unsignup .alert-error { background-color: #F2DEDE;  border:1px solid #EBCCD1; color: #A94442;}
            div#sib_embed_unsignup .alert{ border-radius: 4px 4px 4px 4px; margin-bottom:18px; padding: 8px 35px 8px 14px; text-shadow: 0 1px 0 rgba(255, 255, 255,0.5);}
            body {background-Image: url(//img.mailinblue.com/1845538/images/1512678619_eighth.jpg);}
            body {background-color: #000000;}
            div#sib_embed_unsignup .forms-builder-wrapper {background: rgba(255,255,255,0.75);}
            div#sib_embed_unsignup .forms-builder-wrapper .innercontainer {background: rgba(247,247,247,0.75);}
            div#sib_embed_unsignup .forms-builder-wrapper h1 {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
            div#sib_embed_unsignup h1.title {font-size: 45px;}
            div#sib_embed_unsignup .forms-builder-wrapper .forms-builder-footer, div#sib_embed_unsignup .sib-container .description, div#sib_embed_unsignup .sib-container .fake-label, div#sib_embed_unsignup .sib-container .row, div#sib_embed_unsignup .sib-container #company-name{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
            div#sib_embed_unsignup .forms-builder-footer,div#sib_embed_unsignup div.description,div#sib_embed_unsignup .fake-label,div#sib_embed_unsignup .row  {font-size: 17px;}
            div#sib_embed_unsignup .forms-builder-wrapper .button {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
            div#sib_embed_unsignup .button{font-size: 14px;}
            div#sib_embed_unsignup input {font-size: 13px;}
            div#sib_embed_unsignup .forms-builder-wrapper h1 {color: #686868;}
            div#sib_embed_unsignup .forms-builder-wrapper {color: #858585;}
            div#sib_embed_unsignup .forms-builder-wrapper .button{color: #fff;}
            div#sib_embed_unsignup .forms-builder-wrapper .button{background: #050505;}
            div#sib_embed_unsignup .forms-builder-wrapper{ max-width: 540px;}
            div#sib_embed_unsignup .sib-container{ padding: 40px 20px 20px;}
            div#sib_embed_unsignup .header{ padding: 0 20px;}
            div#sib_embed_unsignup h1.title{ lineHeight: 50px;}
            div#sib_embed_unsignup h3.company-name{ lineHeight: 35px;}
            div#sib_embed_unsignup div.description{ padding: 0 20px 15px;}
            div#sib_embed_unsignup div.row{ padding:10px 20px; }
            div#sib_embed_unsignup input[type=text]{ padding: 10px 4px; width: 400px; margin:0 auto 10px; display:block;}
        </style>
        <div class="sib-container rounded" style="position:relative;">
            <div class="header">

                <h1 class="title editable" data-editfield="newsletter_name"  style="font-weight: normal; text-align: center; font-size: 45px; margin-bottom: 5px; padding: 0px; margin-top: 0px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(104, 104, 104);">
                    Unsubscription                    </h1>
            </div>
            <input type="hidden" id="sib_embed_signup_lang" value="en">
            <input type="hidden" id="sib_embed_form_size" value="grand">
            <input type="hidden" name="primary_type" id="primary_type" value="email">
            <div id="sib_loading_gif_area" style="position: absolute;display: none;">
                <img src="https://my.sendinblue.com/public/theme/version4/assets/images/loader_sblue.gif" style="display: block;margin-left: auto;margin-right: auto;position: relative;top: 40%;">
            </div>
            <form id="unsubscribe-form" method="post" action="https://my.sendinblue.com/users/unsubscribeembed/js_id/30n98/id/2">
                <input id="from_url" type="hidden" value="yes" name="from_url">
                <input id="js_id" type="hidden" value="30n98" name="js_id">
                <div class="innercontainer rounded2" style="padding: 10px;">
                    <div class="description" style="text-align: left;margin-bottom: 10px;">Enter your Email address and Click on 'Unsubscribe' to stop receiving emails from ISKCON Columbus&nbsp;</div>
                    <input type="text" id="email_text_div" name="email" value="" style="margin-bottom: 10px;">
                    <div class="forms-builder-messages" style="margin-top: 5px;"></div>
                    <div class="forms-builder-group" style="text-align:center;">
                        <button id="button_text" class="button editable " type="submit" style="display:inline-block; white-space:nowrap; margin:0 5px 0 0; min-height:40px; padding:0 22px; text-decoration:none; text-transform:uppercase; text-align:center; font-weight:bold; font-style:normal; cursor:pointer; border:0; -moz-border-radius:4px; border-radius:4px; -webkit-border-radius:4px; vertical-align:top;">
                            Unsubscribe                                </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var sib_prefix = 'sib';
</script>
<script type='text/javascript' src='https://my.sendinblue.com/public/theme/version4/assets/js/src/unsubscribe-validate.js?v=1.0'></script>
<script type='text/javascript'>
    jQuery.noConflict(true);
</script>

<!-- End : SendinBlue Unsignup Form HTML Code -->